@model IEnumerable<Ecommerce_DBFirst.ViewModels.ProductListVM>

<h2>Product List</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<input type="text" id="searchBox" placeholder="Search product..." />

<a asp-controller="Product"
   asp-action="Create"
   class="btn btn-primary">
    Add Product
</a>

<hr />

<div id="productContainer">
    @Html.Partial("_ProductList", Model)
</div>

@section Scripts {
    <script>
        $("#searchBox").keyup(function () {
            $.ajax({
                url: "/products/search",
                data: { text: $(this).val() },
                success: function (result) {
                    $("#productContainer").html(result);
                }
            });
        });
    </script>
}
